<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body id="fullsingle" class="page-template-page-fullsingle-me me-video.old">
        {{ if or (eq .Params.Special "imprint") (eq .Params.Special "about") (eq .Params.Special "privacy-policy")}}
            {{- partial "header.html" . -}}
        {{ end }}
        
        {{- block "main" . }}{{- end }}
        
        {{ if (eq .Site.Home false) }}
            {{- partial "footer.html" . -}}
        {{ end }}
    </body>
</html>
