{{ define "main" }}
<main class="flex-1 overflow-y-auto p-5 mx-40">
  {{ range .Pages.ByPublishDate.Reverse }}
  <div class="grid grid-cols-2 my-7">
    <div class="container-image h-60 rounded-l-lg" style="background-color:aquamarine; color: black;">
      <a class="title" href="{{ .RelPermalink }}">{{ with .Resources.ByType "image" }} {{ end }}</a>
    </div>
    <div class="container-text h-60 rounded-r-lg " style="background-color:aquamarine; color: black;">
      <h3><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      {{ partial "metadata.html" . }}
      <a class="summary" href="{{ .RelPermalink }}">
          <p>{{ .Summary }}</p>
      </a>
    </div>

    </div>
  {{ end }}

  </main>
{{ end }}