@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Helvetica, sans-serif;
  background-color: #f6eeea;
  min-height: 100vh;
  margin:0;
  display: flex;
  -webkit-font-smoothing: antialiased;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


h1 {
  margin-bottom: 4rem;
  max-width: 100%;
  line-height: 1.1em;
}

img {
  height: 100% !important;
  width: 100% !important;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

p img {
  border-radius: .5rem;
}

svg {
  display: inline;
  width: 24px;
  height: 24px;
  fill: currentColor;
  vertical-align: unset;
}

svg.feather {
  fill: none;
}

/* Landing Page */
.row {
  display: flex;
  flex-direction: row;
}

.social-button {
  margin-right: 20px;
  color: #777;
}

/* header */
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

/*.header li a:hover, .header .menu-btn:hover {
  background-color: #6b7280;
}*/

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  text-decoration: none;
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s linear;

}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: block;
  float: right;
  padding: 23px;
  position: relative;
  user-select: none;
  padding-right: 3px;
}
.header .menu-icon .navicon {
  background: #000;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s linear;
  width: 18px;
}
.header .menu-icon .navicon:before, .header .menu-icon .navicon:after {
  background: #000;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s linear;
  width: 100%;
}
.header .menu-icon .navicon:before {
  top: 5px;
}
.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.header .menu-btn {
  display: none;
}
.header .menu-btn:checked ~ .menu {
  max-height: 480px;
}
.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* index.html - DIVs containing Images and Text */
.container-post {
  background-color: #e7d1c6;
}
.container-image {
  color: black;
}

/* footer.html */
.footer-author-copyright {
  color: #e7d1c6;
}
.footer-made-theme {
  color: #e7d1c6;
}

@media (min-width: 60em) { /* 1em = 16px */ /* desktop scaling*/

  /* Landing Page */
  .landing-page {
    min-height: 75vh;
  }
  
  /* Header and Menu Scaling*/
  .header {
    width: 100%;
  }
  .header a {
    padding: 8px;
  }
  .header li {
    float: left;
    padding-top: 0;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    padding-top: 0px;
  }
  .header .menu-icon {
    display: none;
  }

  /* List of Posts Scaling*/
  .container-post {
    max-width: 60rem;
    margin: 0 auto;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
    background-color: #e7d1c6;
  }
  .container-image {
    height: 24rem;
  }
  
  .container-text {
    min-height: max-content;
    clear: both;
    text-align: center;
  }

  /*Single Post Scaling*/
  .single-article {
    max-width: 60rem !important;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #f6eeea;
    color: #000;
  }
  a {
    color: inherit;
  }
  blockquote {
    background: #E7D1C6;
  }
  .header .menu-icon .navicon {
    background: #000;
  }
  .header .menu-icon .navicon:before, .header .menu-icon .navicon:after {
    background: #000;
  }
  .container-post {
    background-color: #e7d1c6;
  }
  .footer-author-copyright {
    color: #e7d1c6;
  }
  .footer-made-theme {
    color: #e7d1c6;
  }
  /* NEU */
  .name {
    color: #000;
  }
  .tagline {
    color: #777;
  }
  .bio {
    color: #3d474e;
  }
  .text-block-2 {
    color: #777;
  }
  .list {
    color: #000;
  }
  .credit {
    color: #000;
  }
  .bio-links {
    border-bottom: 1px solid #000;
  }
  .credit-links {
    color: #000;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #494f5c;
    color: #fff;
  }
  a {
    color: inherit;
  }
  blockquote {
    background: #272822 !important;
  }
  .header .menu-icon .navicon {
    background: #fff;
  }
  .header .menu-icon .navicon:before, .header .menu-icon .navicon:after {
    background: #fff;
  }
  .container-post {
    background-color: #606778;
  }
  .footer-author-copyright {
    color: #606778;
  }
  .footer-made-theme {
    color: #606778;
  }
  /* NEU */
  .name {
    color: #47bec7;
  }
  .tagline {
    color: #ddd;
  }
  .bio {
    color: #47bec7;
  }
  .text-block-2 {
    color: #ddd;
  }
  .list {
    color: #848d96;
  }
  .credit {
    color: #606778;
  }
  .bio-links {
    border-bottom: 1px solid #848d96;
  }
  .credit-links {
    color: #606778;
  }
}

/* .prose overwriting */
.prose > ul > li > :first-child {
  margin-top: 0;
}
.prose > ul > li > :last-child {
  margin-bottom: 0;
}
.prose {
  --tw-prose-bullets: none;
  --tw-prose-invert-bullets: none;
  --tw-prose-hr: none;
  --tw-prose-invert-hr: none;
}

/* NEU ANFANG */
/*
.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

.w-container:before,
.w-container:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-container:after {
  clear: both;
}
*/
.w-container .w-row {
  margin-left: -10px;
  margin-right: -10px;
}

.w-row:before,
.w-row:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-row:after {
  clear: both;
}
.w-row .w-row {
  margin-left: 0;
  margin-right: 0;
}

.w-col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.w-col .w-col {
  padding-left: 0;
  padding-right: 0;
}

.w-col-6 {
  width: 50%;
}

/* split-opl.css */
.body {
  display: block;
  max-height: 100vh;
}

.leftcontent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  max-height: 100vh;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.name {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.bold-text {
  font-weight: 600;
}

.tagline {
  margin-bottom: 40px;
  font-size: 58px;
  line-height: 100%;
}

.bio {
  margin-bottom: 40px;
  font-family: Lora, sans-serif;
  font-size: 21px;
  line-height: 140%;
}

.text-block-2 {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.rightcontent {
  overflow: auto;
  padding: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.content {
  overflow: auto;
}

.links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  margin-bottom: 40px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  color: #3d474e;
}

.image {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: block;
  min-height: 100vh;
  min-width: 100%;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-image: url('/split-2.jpg');
  background-position: 50% 50%;
  background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
}

@media screen and (max-width: 991px) {
  .w-container {
    max-width: 728px;
  }
  .w-hidden-main {
    display: inherit !important;
  }
  .w-hidden-medium {
    display: none !important;
  }
  .w-col-medium-1 {
    width: 8.33333333%;
  }
  .w-col-medium-2 {
    width: 16.66666667%;
  }
  .w-col-medium-3 {
    width: 25%;
  }
  .w-col-medium-4 {
    width: 33.33333333%;
  }
  .w-col-medium-5 {
    width: 41.66666667%;
  }
  .w-col-medium-6 {
    width: 50%;
  }
  .w-col-medium-7 {
    width: 58.33333333%;
  }
  .w-col-medium-8 {
    width: 66.66666667%;
  }
  .w-col-medium-9 {
    width: 75%;
  }
  .w-col-medium-10 {
    width: 83.33333333%;
  }
  .w-col-medium-11 {
    width: 91.66666667%;
  }
  .w-col-medium-12 {
    width: 100%;
  }
  .w-col-stack {
    width: 100%;
    left: auto;
    right: auto;
  }
}

@media screen and (max-width: 767px) {
  .w-hidden-main {
    display: inherit !important;
  }
  .w-hidden-medium {
    display: inherit !important;
  }
  .w-hidden-small {
    display: none !important;
  }
  .w-row,
  .w-container .w-row {
    margin-left: 0;
    margin-right: 0;
  }
  .w-col {
    width: 100%;
    left: auto;
    right: auto;
  }
  .w-col-small-1 {
    width: 8.33333333%;
  }
  .w-col-small-2 {
    width: 16.66666667%;
  }
  .w-col-small-3 {
    width: 25%;
  }
  .w-col-small-4 {
    width: 33.33333333%;
  }
  .w-col-small-5 {
    width: 41.66666667%;
  }
  .w-col-small-6 {
    width: 50%;
  }
  .w-col-small-7 {
    width: 58.33333333%;
  }
  .w-col-small-8 {
    width: 66.66666667%;
  }
  .w-col-small-9 {
    width: 75%;
  }
  .w-col-small-10 {
    width: 83.33333333%;
  }
  .w-col-small-11 {
    width: 91.66666667%;
  }
  .w-col-small-12 {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .w-container {
    max-width: none;
  }
  .w-hidden-main {
    display: inherit !important;
  }
  .w-hidden-medium {
    display: inherit !important;
  }
  .w-hidden-small {
    display: inherit !important;
  }
  .w-hidden-tiny {
    display: none !important;
  }
  .w-col {
    width: 100%;
  }
  .w-col-tiny-1 {
    width: 8.33333333%;
  }
  .w-col-tiny-2 {
    width: 16.66666667%;
  }
  .w-col-tiny-3 {
    width: 25%;
  }
  .w-col-tiny-4 {
    width: 33.33333333%;
  }
  .w-col-tiny-5 {
    width: 41.66666667%;
  }
  .w-col-tiny-6 {
    width: 50%;
  }
  .w-col-tiny-7 {
    width: 58.33333333%;
  }
  .w-col-tiny-8 {
    width: 66.66666667%;
  }
  .w-col-tiny-9 {
    width: 75%;
  }
  .w-col-tiny-10 {
    width: 83.33333333%;
  }
  .w-col-tiny-11 {
    width: 91.66666667%;
  }
  .w-col-tiny-12 {
    width: 100%;
  }
}
/* split-opl.css */
@media screen and (max-width: 991px) {
  .leftcontent {
    display: block;
    -o-object-position: 50% 0%;
    object-position: 50% 0%;
  }

  .columns {
    display: block;
  }

  .rightcontent {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .column {
    margin-bottom: 20px;
  }

  .column-2 {
    margin-bottom: 20px;
  }

  .image {
    position: static;
    height: 420px;
    max-height: 50vh;
    min-height: auto;
    background-position: 50% 0%;
  }
}

@media screen and (max-width: 767px) {
  .name {
    margin-bottom: 20px;
  }

  .rightcontent {
    padding: 60px;
  }
}

@media screen and (max-width: 479px) {
  .bold-text {
    font-size: 42px;
    line-height: 42px;
  }

  .bio {
    font-size: 16px;
  }

  .credit {
    font-size: 12px;
  }

  .rightcontent {
    padding: 30px;
  }

  .image {
    height: 240px;
    max-height: 30vh;
  }
}

