@tailwind base;
@tailwind components;
@tailwind utilities;

/*@import "../node_modules/normalize.css/normalize.css";*/

/* -- CSS Reset -- */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; 
}

body {
  line-height: 1; 
}

ol, ul {
  list-style: none; 
}

blockquote, q {
  quotes: none; 
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; 
}

table {
  border-collapse: collapse;
  border-spacing: 0; 
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga" on;
  margin: 0; 
}

img.alignright {
  float: right; 
}

img.alignleft {
  float: left; 
}

img.aligncenter {
  clear: both;
  display: block;
  margin-right: auto;
  margin-left: auto; 
}

body {
  background-color: #FFFFFF;
  border-style: none; 
}

body,
p,
a,
a:hover {
  color: #000000; 
}

a,
a:hover {
  text-decoration: none;
  border: none;
  border-style: none;
  box-shadow: none; 
}

html {
  background-color: #f6eeea; 
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #f6eeea;
  min-height: 100vh;
  margin:0;
  display: flex;
  -webkit-font-smoothing: antialiased;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-moz-keyframes fadein { /* Firefox < 16 */
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-webkit-keyframes fadein { /* Safari, Chrome and Opera > 12.1 */
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-ms-keyframes fadein { /* Internet Explorer */
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-o-keyframes fadein { /* Opera < 12.1 */
  from { opacity: 0; }
  to   { opacity: 1; }
}

h1 {
  margin-bottom: 4rem;
  max-width: 100%;
  line-height: 1.1em;
}

p img {
  border-radius: .5rem;
}

svg {
  display: inline;
  width: 24px;
  height: 24px;
  fill: currentColor;
  vertical-align: unset;
}

svg.feather {
  fill: none;
}

/* Landing Page */
/*
.row {
  display: flex;
  flex-direction: row;
}

.social-button {
  margin-right: 20px;
  color: #CFCECE;
}*/

/* header */
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

/*.header li a:hover, .header .menu-btn:hover {
  background-color: #6b7280;
}*/

.header .blog-logo {
  display: block;
  float: left;
  font-size: 2em;
  text-decoration: none;
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s linear;

}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: block;
  float: right;
  padding: 23px;
  position: relative;
  user-select: none;
  padding-right: 3px;
}
.header .menu-icon .navicon {
  background: #000;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s linear;
  width: 18px;
}
.header .menu-icon .navicon:before, .header .menu-icon .navicon:after {
  background: #000;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s linear;
  width: 100%;
}
.header .menu-icon .navicon:before {
  top: 5px;
}
.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.header .menu-btn {
  display: none;
}
.header .menu-btn:checked ~ .menu {
  max-height: 480px;
}
.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* index.html - DIVs containing Images and Text */
.container-post {
  background-color: #e7d1c6;
}
.container-image {
  color: black;
}
.cover-image {
  height: 100% !important;
  width: 100% !important;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
}
/* footer.html */
.footer-author-copyright {
  color: #e7d1c6;
}
.footer-made-theme {
  color: #e7d1c6;
}

@media (min-width: 60em) { /* 1em = 16px */ /* desktop scaling*/

  /* Landing Page */
  /*
  .landing-page {
    min-height: 75vh;
  }*/
  
  /* Header and Menu Scaling*/
  .header {
    width: 100%;
  }
  .header a {
    padding: 8px;
  }
  .header li {
    float: left;
    padding-top: 0;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    padding-top: 0px;
  }
  .header .menu-icon {
    display: none;
  }

  /* List of Posts Scaling*/
  .container-post {
    max-width: 60rem;
    margin: 0 auto;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
    background-color: #e7d1c6;
  }
  .container-image {
    height: 24rem;
  }
  .container-text {
    min-height: max-content;
    clear: both;
    text-align: center;
  }

  /*Single Post Scaling*/
  .single-article {
    max-width: 60rem !important;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #f6eeea;
    /*color: #000;*/
  }
  a {
    color: inherit;
  }
  blockquote {
    background: #E7D1C6;
  }
  time {
    color: #464646;
  }
  .header .menu-icon .navicon {
    background: #000;
  }
  .header .menu-icon .navicon:before, .header .menu-icon .navicon:after {
    background: #000;
  }
  .container-post {
    background-color: #e7d1c6;
    color: #464646;
  }
  .footer-author-copyright {
    color: #d0c1ba;/*#e7d1c6;*/
  }
  .footer-made-theme {
    color: #d0c1ba;/*#e7d1c6;*/
  }
  /* NEU */
  /*
  .name {
    color: #464646;
  }
  .tagline {
    color: #000;
  }
  .bio {
    color: #464646;
  }
  .text-block-2 {
    color: #464646;
  }
  .social-button {
    margin-right: 20px;
    color: #464646;
  }
  .list {
    color: #000;
  }
  .credit {
    color: #000;
  }
  .bio-links {
    border-bottom: 1px solid #000;
  }
  .credit-links {
    color: #000;
  }
  */
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #494f5c;
    color: #fff;
  }
  a {
    color: inherit;
  }
  blockquote {
    background: #272822 !important;
  }
  time {
    color: #cfcece;
  }
  .header .menu-icon .navicon {
    background: #fff;
  }
  .header .menu-icon .navicon:before, .header .menu-icon .navicon:after {
    background: #fff;
  }
  .container-post {
    background-color: #606778;
    color: #cfcece;
  }
  .footer-author-copyright {
    color: #636976;
  }
  .footer-made-theme {
    color: #636976;
  }
  /* NEU */
  /*
  .name {
    color: #cfcece;
  }
  .tagline {
    color: #fff;
  }
  .bio {
    color: #cfcece;
  }
  .text-block-2 {
    color: #cfcece;
  }
  .social-button {
    margin-right: 20px;
    color: #cfcece;
  }
  .list {
    color: #848d96;
  }
  .credit {
    color: #606778;
  }
  .bio-links {
    border-bottom: 1px solid #848d96;
  }
  .credit-links {
    color: #606778;
  }
  */
}

/* .prose overwriting */
.prose > ul > li > :first-child {
  margin-top: 0;
}
.prose > ul > li > :last-child {
  margin-bottom: 0;
}
.prose {
  --tw-prose-bullets: none;
  --tw-prose-invert-bullets: none;
  --tw-prose-hr: none;
  --tw-prose-invert-hr: none;
}

/* NEW */
/*
Template Name: Me
Author: One Page Love
Author URI: https://onepagelove.com
Template URI: https://onepagelove.com/me
Description: Me is a slick, personal layout for any individual wanting a minimal online presence. Features include a big background image, logo, bio and icons.
Version: 0.2.2
*/

/* -- Content -- */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

body.page-template-page-fullsingle-me {
  height: 100vh;
  background-color: #f6eeea;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: -0.5px;
  color: #999999;
  background-image: url("/split-3.jpg");  
  background-position: center center;
  background-size: cover; 
}

body.page-template-page-fullsingle-me p {
  margin-bottom: 28px;
  color: #999999; 
}

@media (max-width: 800px) {
  body.page-template-page-fullsingle-me p {
    font-size: 32px;
    line-height: 40px;
  }
}

.fs-me {
  padding: 10vh 10vw;
  overflow: hidden;
  position: absolute;
  z-index: 2;
}

@media (max-width: 500px) {
  .fs-me {
    padding: 5vh 5vw;
    text-align: center;
  } 
}
  
.fs-me .me-content {
    height: 80vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column; 
}
    
@media (max-width: 500px) {
  .fs-me .me-content {
    height: 90vh; 
  } 
}

.logo {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-align-self: left;
          align-self: left;
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}
  
@media (max-width: 500px) {
  .logo {
    -webkit-align-self: center;
    align-self: center; 
  } 
}
  
.logo img {
  max-width: 165px;
  height: auto; 
}

.bio-landing {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-animation: fadein 4s;
          animation: fadein 4s;
  letter-spacing: -1px;
  max-width: 66%; 
}
  
@media (max-width: 800px) {
  .bio-landing {
    max-width: none; 
  } 
}
  
.bio-landing a {
  color: #CCCCCC;
  -webkit-transition: 1s;
  transition: 1s; 
}
    
.bio-landing a:hover {
      color: #FFFFFF;
      -webkit-transition: 0.1s;
      transition: 0.1s; }

.network {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-animation: fadein 6s;
          animation: fadein 6s;
  margin-top: auto; 
}
  
.network ul {
    
    -webkit-animation: fadein 6s;
            animation: fadein 6s;
    margin-top: auto; 
}
    
.network ul li {
      display: inline-block;
      margin-right: 8px; 
}
      
.network ul li a {
        display: inline-block;
        width: 30px;
        height: 30px;
        cursor: pointer; 
}
        
.network ul li a .svg-icon {
          padding: 4px;
          width: 22px;
          height: 22px;
          margin: 0;
          display: block; 
}
        
.network ul li a .svg-icon path,
.network ul li a .svg-icon polygon,
.network ul li a .svg-icon rect {
          /*fill: #999999;*/
          -webkit-transition: 1s;
          transition: 1s; 
}
        
.network ul li a .svg-icon circle {
          stroke: #999999;
          stroke-width: 1; 
}
      
.network ul li a:hover .svg-icon path,
.network ul li a:hover .svg-icon polygon,
.network ul li a:hover .svg-icon rect {
        fill: #FFFFFF;
        -webkit-transition: 0.1s;
        transition: 0.1s; 
}

.credit {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 0;
  -webkit-animation: fadein 8s;
          animation: fadein 8s; 
}
  
.credit p.copyright {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    opacity: 0.6;
    margin-bottom: 10px;
}
    
.credit p.copyright a {
      color: #999999; 
}

/* Video Background */
body.page-template-page-fullsingle-me.me-video {
  background-image: none; 
}
body.page-template-page-fullsingle-me.me-video .me-video-container {
    overflow: hidden;
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 100vh; 
}
body.page-template-page-fullsingle-me.me-video video.video {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
    width: 100%;
    height: 100%; 
}
body.page-template-page-fullsingle-me.me-video .video-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); 
}
body.page-template-page-fullsingle-me.me-video .video-container {
    position: relative;
    overflow: hidden;
    height: 56.25vw;
    width: 100vw; 
}
@media (max-aspect-ratio: 16 / 9) {
  body.page-template-page-fullsingle-me.me-video .video-container {
        height: 100vh;
        width: 177.7777777778vh; 
    } 
}
body.page-template-page-fullsingle-me.me-video .video-container iframe,
body.page-template-page-fullsingle-me.me-video .video-container object,
body.page-template-page-fullsingle-me.me-video .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}

.fullscreen-opacity {
  background-color: rgba(0,0,0,.6);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  position: absolute;
}