{{ define "main" }}
<main class="m-0 px-4 overflow-y-auto temp2">
  {{ range .Pages.ByPublishDate.Reverse }}
  <div class="max-w-full my-7 grid grid-cols-1 rounded-lg container-post">
    {{ if .Params.image }}
    <div class="h-96 w-full container-image">
      <a class="title" href="{{ .RelPermalink }}">
        <img loading="lazy" class="cover-image rounded-t-lg" src='{{ with .Params.image }}{{ . }}{{ end }}' alt="Cover Image of Post {{ .Title }}">
      </a>
    </div>
    {{ end }}
    <div class="w-full text-center clear-both rounded-r-lg">
      <br />
      {{ partial "metadata.html" . }}
      <br />
      <a class="text-3xl flex justify-center" href="{{ .RelPermalink }}">{{ .Title }}</a>
      <br />
      <br />
    </div>
  </div>
  {{ end }}
  </main>
{{ end }}