<header class="p-6 pointer-events-auto z-30 relative header <!--bg-gray-700--> <!--text-white-->">
    <a href="{{ "/" | absURL }}" class="blog-logo">{{ .Site.Author.name}}</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn">
    <span class="navicon"></span>
    </label>
    <ul class="menu flex justify-center">
        {{ range .Site.Menus.main }}
            {{ if .Pre }}
            <li class="pt-8">
                <a href="{{ .URL }}" aria-label="{{ .Name }} Button">
                    {{ if .Pre }}
                        {{ .Pre | safeHTML }}
                    {{ end }}
                </a>
            </li>
            {{ end }}
        {{ end }}
    </ul>
</header>