<header class="p-6 pointer-events-auto z-30 relative header <!--bg-gray-700--> <!--text-white-->">
    <a href="{{ "/" | absURL }}" class="logo ">Fabian</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn">
        <span class="navicon"></span>
    </label>
    <ul class="menu flex justify-center pt-8"> <!--flex-->
        {{ range .Site.Menus.main }}
        {{ if or (eq .Pre "tag") (eq .Pre "rss") (eq .Pre "info") (eq .Pre "user") }}
        <li>
            <a href="{{ .URL }}">
            {{ if .Pre }}
            {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
            {{ $icon }}
            {{ end }}
            </a>
        </li>
        {{ end }}
        {{ end }}
    </ul>
    <!--
    <ul class="menu flex justify-center">
        {{ range .Site.Menus.social }}
        <li>
            <a href="{{ .URL }}" target="_blank">
            {{ if .Pre }}
            {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
            {{ $icon }}
            {{ end }}
            </a>
        </li>
        {{ end }}
    </ul>
    -->
  </header>