{{ define "main" }}
<main class="flex-container overflow-y-auto landing-page flex-1">
  
  <div class="title">
    It's {{ .Site.Author.name }}
  </div>

  <div class="social">
    {{ range .Site.Menus.social }}
      <div class="social-button">
        <a href="{{ .URL }}">
          {{ if .Pre }}
            {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
            {{ $icon }}
            <p class="social-button-text">{{ .Name }}</p>            
          {{ end }}
        </a>
      </div>
    {{ end }}
  </div>

</main>
{{ end }}